#main {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: var(--background-color);
}

.header {
    width: 100%;
    height: 114px;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header__top {
    max-width: 1200px;
    min-width: 1024px;
    margin: 0 auto;
    padding-top: 12px;
    display: flex;
    align-items: center;
}

.header__top-logo {
    width: 18%;
}

.header__top-logo-img {
    width: 100%;
}

.header__top-logo:hover {
    cursor: pointer;
}

.header__top-place {
    width: 12%;
    margin: 0 16px 0 8px;
    padding: 4px 8px;
    background-color: #ffbc06;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__top-place:hover {
    cursor: pointer;
}

.header__top-place--left {
    font-size: 12px;
}

.header__top-place-title {
    opacity: 0.7;
}

.header__top-place-location {
    font-weight: bold;
    opacity: 0.8;
}

.header__top-place-icon {
    font-size: 14px;
}

.header__top-search {
    width: 300px;
    height: 40px;
    display: flex;
    border-radius: 4px;
    position: relative;
}

.header__top-search-input {
    border: none;
    outline: none;
    flex: 1;
    padding: 0 8px;
    font-size: 12px;
    caret-color: var(--primary-color);
}

.header__top-search-btn {
    background-color: #fff;
    border: none;
    width: 40px;
    height: 40px;
}

.header__top-search-btn:hover {
    cursor: pointer;
}

.header__top-search-result {
    max-height: 200px;
    position: absolute;
    top: 50px;
    border-radius: 4px;
    overflow: hidden;
    background-color: #fff;
    z-index: 2;
    overflow-y: scroll;
    padding: 8px 0;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
}

.header__top-search-result::-webkit-scrollbar {
    display: none;
}

.result-item {
    cursor: pointer;
    display: flex;
    width: 300px;
    height: 60px;
    padding: 8px 8px;
}

.result-item:hover {
    background-color: #eee;
}

.result-item-info {
    width: 82%;
}

.result-item-img {
    margin-right: 8px;
}

.result-item-name {
    height: 50%;
    line-height: 22px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.result-item-price {
    color: #f70712;
    height: 50%;
    line-height: 22px;
}

.header__top-oder-infor {
    font-size: 12px;
    width: 8%;
    padding: 4px 6px;
    background-color: #ffbc06;
    border-radius: 4px;
    margin-left: 16px;
    text-align: center;
}

.header__top-oder-infor:hover {
    cursor: pointer;
}

.header__top-cart {
    font-size: 12px;
    background-color: #ffbc06;
    border-radius: 4px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    position: relative;
}

.header__top-cart:hover {
    cursor: pointer;
}

.header__top-cart-icon {
    font-size: 24px;
    padding: 8px 10px;
    opacity: 0.8;
}

.header__top-cart-number {
    font-size: 12px;
    line-height: 12px;
    position: absolute;
    top: 16px;
    left: 18px;
    background-color: red;
    padding: 1px;
    border-radius: 4px;
    color: #fff;
    display: none;
}

.header__top-cart-title {
    font-size: 12px;
    font-weight: bold;
    padding-right: 12px;
    opacity: 0.7;
}

.header__top-news {
    font-size: 14px;
    margin-left: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    flex: 1;
}

.header__top-news-item {
    padding: 12px 8px;
}

.header__top-news-item:hover {
    cursor: pointer;
}

.header__top-news-split {
    width: 2px;
    height: 36px;
    opacity: 0.5;
    background-color: #fff;
}

.nav__items {
    display: flex;
    max-width: 1200px;
    min-width: 1024px;
    flex: 1;
    margin: 0 auto;
    list-style-type: none;
}

.nav__item {
    height: 100%;
    width: 120px;
    padding: 4px 6px;
}

.nav__item-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: black;
    height: 100%;
}

.nav__item-icon {
    font-size: 18px;
    opacity: 0.8;
}

.nav__item-title {
    text-align: center;
    flex: 1;
    font-size: 14px;
}

.banner {
    max-width: 100%;
    min-width: 1200px;
    height: 450px;
    margin: 0 auto;
    overflow: hidden;
}

.banner__img {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    object-fit: cover;
}

.slider {
    width: 1200px;
    height: 180px;
    margin: 0 auto;
    position: relative;
    top: -90px;
    display: flex;
    align-items: center;
}

.slider__btn-left {
    position: absolute;
    left: -16px;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: none;
    box-shadow: 1px #ccc;
    opacity: 0.8;
    z-index: 10;
}

.slider__btn-left:hover {
    cursor: pointer;
    opacity: 0.9;
    transform: scale(1.1);
}

.slider__btn-right {
    position: absolute;
    right: -16px;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: none;
    box-shadow: 1px #ccc;
    opacity: 0.8;
}

.slider__btn-right:hover {
    cursor: pointer;
    opacity: 0.9;
    transform: scale(1.1);
}

.boc {
    display: flex;
    min-width: 1200px;
    height: 180px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
}

.boc::-webkit-scrollbar {
    display: none;
}

.images--slider {
    width: 1200px;
    height: 180px;
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.image--slider {
    margin: 0 6px;
    border-radius: 16px;
}

.deal {
    width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ff685f;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.deal__content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.deal__header {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}

.deal__header-icon {
    width: 32px;
    height: 70px;
    margin-right: 12px;
}

.deal .header__main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.deal .header__main-title {
    color: #ffe818;
    font-weight: 600;
    font-size: 26px;
    line-height: 1;
}

.header__main-countdown {
    display: flex;
    align-items: center;
}

.header__main-countdown-title {
    font-size: 14px;
    color: #fff;
    margin-right: 8px;
}

.header__main-countdown-time {
    display: flex;
}

.hour {
    font-size: 14px;
    line-height: 14px;
    color: #fff;
    background-color: black;
    padding: 6px 8px;
    margin: 0 4px;
    border-radius: 8px;
    position: relative;
}

.hour::after {
    content: ':';
    position: absolute;
    right: -6px;
    font-size: 16px;
}

.minute {
    font-size: 14px;
    line-height: 14px;
    color: #fff;
    background-color: black;
    padding: 6px 8px;
    margin: 0 4px;
    border-radius: 8px;
    position: relative;
}

.minute::after {
    content: ':';
    position: absolute;
    font-size: 16px;
    right: -6px;
}

.second {
    font-size: 14px;
    line-height: 14px;
    color: #fff;
    background-color: black;
    padding: 6px 8px;
    margin: 0 4px;
    border-radius: 8px;
}

.deal__header-listing-timeline {
    height: 100%;
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
}

.deal__header-listing-timeline .title {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 8px;
}

.deal__header-listing-timeline .timeline {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 8px;
}

.deal__header-listing-timeline .underline {
    background-color: #fff;
    width: 44px;
    height: 4px;
    border-radius: 8px;
}

.deal-products {
    width: 100%;
}

.product-item {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 183.3px;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    margin: 7px 5px;
    padding: 24px 0;
}

.product-item:hover .product-item__name {
    color: #288ad6;
}

@keyframes slideTop {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-8px);
    }
}

.product-item:hover .product-item__img {
    animation: slideTop 0.5s forwards;
}

.product-item__img {
    width: 100%;
    height: 180px;
}

.product-item__name {
    display: flex;
    align-items: center;
    height: 32px;
    text-align: center;
    font-size: 16px;
    margin: 8px 4px;
}

.product-item--newprice {
    color: red;
    font-weight: 600;
}

.product-item--oldprice {
    opacity: 0.6;
    font-size: 14px;
}

.cart--empty {
    width: 1200px;
    margin: 0 auto;
    height: 100vh;
    overflow: hidden;
    text-align: center;
    display: none;
}

.cart-icon {
    font-size: 60px;
    color: red;
    margin-top: 100px;
}

.cart-title {
    font-size: 14px;
    opacity: 0.8;
    margin: 16px 0;
}

.backhome {
    width: 500px;
    margin: 0 auto;
    display: block;
    padding: 12px 0;
    border: 1px solid #288ad6;
    border-radius: 4px;
    font-weight: 600;
    color: #288ad6;
}

.cart {
    width: 600px;
    margin: 0 auto;
}

.cart__nav {
    font-size: 14px;
    padding: 8px;
    display: flex;
    justify-content: space-between;
}

.cart__backhome {
    color: #288ad6;
}

.cart__products {
    width: 600px;
    border-radius: 2px;
    box-shadow: 2px 2px 4px 4px #ccc;
}

.cart__product {
    border-top: 1px solid #ccc;
    padding: 16px 32px;
}

.cart__product-top {
    display: flex;
}

.cart__product-img {
    width: 75px;
    height: 75px;
}

.product__details {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.product__name {
    margin-left: 12px;
    font-size: 14px;
    font-weight: 500;
    opacity: 0.8;
}

.product__color {
    display: flex;
    align-items: center;
    margin-top: 32px;
    color: #288ad6;
}

.product__color-name {
    margin: 0 2px;
}

.product__color-dropdown {
    margin-top: -4px;
    margin-left: 2px;
}

.product__amount {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 14px;
}

.product__amount-money {
    text-align: right;
}

.product__amount-money--newprice {
    color: red;
}

.product__amount-money--oldprice {
    color: #aaa;
}

.product__amount-quantity {
    width: 100px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ccc;
}

.product__amount-minus {
    height: 32px;
    width: 32px;
}

.product__amount-plus {
    height: 32px;
    width: 32px;
}

.cart__product-del {
    display: flex;
    margin-top: 8px;
}

.price {
    padding: 0 32px;
    display: flex;
    justify-content: space-between;
}

.total__products {
    padding-bottom: 16px;
}

.total__price {
    color: red;
}

.productDetail {
    width: 1200px;
    margin: 0 auto;
}

.productDetail-name {
    margin: 16px 0;
    padding-bottom: 16px;
    font-size: 18px;
    font-weight: 700;
    opacity: 0.8;
    border-bottom: 1px solid #aaa;
}

.productDetail-main {
    display: flex;
}

.info {
    flex: 1;
    padding: 32px 16px;
}

.quantity__wrapper {
    margin: 16px 0;
    width: 100px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ccc;
}

.quantity__wrapper .minus {
    cursor: pointer;
    width: 32px;
    height: 32px;
}

.quantity__wrapper .plus {
    cursor: pointer;
    width: 32px;
    height: 32px;
}

.add-cart--btn {
    border-radius: 4px;
    border: 2px solid black;
    background-color: transparent;
    color: black;
    font-size: 20px;
    padding: 8px 16px;
}

.add-cart--btn:hover {
    cursor: pointer;
    background-color: black;
    color: #fff;
    font-weight: 600;
    transition-duration: 500ms;
    transform: scale(1.05);
}

/* ============== Toast Message ============== */
#toast {
    position: fixed;
    top: 114px;
    right: 32px;
    z-index: 2;
}

.toast {
    display: flex;
    align-items: center;
    min-width: 400px;
    max-width: 450px;
    background-color: #fff;
    border-radius: 2px;
    padding: 20px 0;
    border-left: 4px solid;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
    transition: all linear 0.3s;
}

@keyframes slideInLeft {
    from {
        transform: translateX(calc(100% + 32px));
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

.toast--success {
    border-color: #47d864;
}

.toast--success .toast__icon {
    color: #47d864;
}

.toast--error {
    border-color: #ff623d;
}

.toast--error .toast__icon {
    color: #ff623d;
}

.toast + .toast {
    margin-top: 24px;
}

.toast__icon {
    font-size: 24px;
}

.toast__icon,
.toast__close {
    padding: 0 16px;
}

.toast__body {
    flex-grow: 1;
}

.toast__title {
    font-size: 16px;
    font-weight: 600;
    color: #333;
}

.toast__message {
    font-size: 14px;
    line-height: 1.5;
    margin-top: 6px;
    color: #888;
}

.toast__close {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.toast__close:hover {
    opacity: 0.6;
}

.quantity {
    text-align: center;
    flex: 1;
}

.customer {
    display: none;
    width: 600px;
    margin: 0 auto;
    background-color: #f3f3f3;
    margin-top: 4px;
    padding: 16px;
    box-shadow: 2px 2px 4px 4px #ccc;
}

.customer__title {
    margin-bottom: 16px;
}

.customer__sex {
    display: flex;
    align-items: center;
}

.container {
    display: block;
    position: relative;
    padding-left: 24px;
    cursor: pointer;
    user-select: none;
}

.container:first-child {
    margin-right: 32px;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 14px;
    width: 14px;
    border: 1px solid #000;
    border-radius: 15px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ddd;
}

/* When the checkbox is checked, add a background */
input:checked ~ .checkmark {
    background-color: #f06c2c;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: '';
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkmark:after {
    left: 2px;
    top: 2px;
    width: 4px;
    height: 4px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.form {
    margin-top: 16px;
    text-align: center;
    border-radius: 2px;
    align-self: center;
}

.form-input {
    display: flex;
    justify-content: space-between;
}

.form-group {
    display: flex;
    flex-direction: column;
    max-width: 49%;
    margin-bottom: 16px;
}

.form-label,
.form-message {
    text-align: left;
}

.form-control {
    height: 40px;
    padding: 8px 12px;
    border: 1px solid #b3b3b3;
    border-radius: 3px;
    outline: none;
    font-size: 1.4rem;
}

.form-control:hover {
    border-color: #f06c2c;
}

.form-group.invalid .form-control {
    border-color: #f33a58;
}

.form-group.invalid .form-message {
    color: #f33a58;
}

.form-message {
    font-size: 14px;
    line-height: 14px;
    padding: 4px 0 0;
    color: #f33a58;
    text-align: center;
}

.form-submit {
    outline: none;
    background-color: #f06c2c;
    margin-top: 12px;
    padding: 12px 16px;
    font-weight: 600;
    color: #fff;
    border: none;
    width: 100%;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
}

.form-submit:hover {
    background-color: #f06c2c;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.bill {
    padding: 16px 16px;
    width: 400px;
    background-color: #fff;
    position: fixed;
    top: calc(50% - 200px);
    left: calc(50% - 200px);
    border-radius: 8px;
    animation: modalFadeIn ease 0.3s;
}

.bill-shop-name,
.bill-shop-label {
    text-align: center;
    padding: 12px;
}

.bill-shop-info {
    padding: 8px 0;
}

.bill-confirm {
    border: 1px solid #ddd;
    margin-top: 8px;
    padding: 4px 8px;
    border-radius: 4px;
    background-color: #2f98fa;
    color: #fff;
}

.bill-confirm:hover {
    cursor: pointer;
    font-weight: 500;
    transition: 0.5s;
    transform: scale(1.05);
}

@keyframes modalFadeIn {
    from {
        transform: translateY(-200px);
    }
    to {
        transform: translateY(0px);
    }
}
